absl-py==0.9.0
appdirs==1.4.4
asn1crypto==0.24.0
astor==0.8.1
audioread==2.1.8
certifi==2020.6.20
cffi==1.14.1
chardet==3.0.4
cryptography==2.1.4
cycler==0.10.0
decorator==4.4.2
gast==0.4.0
google-pasta==0.2.0
grpcio==1.31.0
h5py==2.10.0
idna==2.6
importlib-metadata==1.7.0
joblib==0.16.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.2.0
librosa==0.6.2
llvmlite==0.31.0
Markdown==3.2.2
matplotlib==3.3.1
numba==0.48.0
numpy==1.19.1
packaging==20.4
Pillow==7.2.0
pooch==1.1.1
protobuf==3.12.4
pycparser==2.20
pycrypto==2.6.1
pygobject==3.26.1
pyparsing==2.4.7
python-dateutil==2.8.1
pyxdg==0.25
requests==2.24.0
resampy==0.2.2
scikit-learn==0.23.2
scipy==1.5.2
SecretStorage==2.3.1
six==1.11.0
SoundFile==0.10.3.post1
tensorboard==1.14.0
tensorflow-estimator==1.14.0
tensorflow-gpu==1.14.0
termcolor==1.1.0
terminalplot==0.3.0
threadpoolctl==2.1.0
urllib3==1.25.10
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.1.0
